@import url('https://fonts.googleapis.com/css?family=Lato:100|Open+Sans:300,400,600,700,800');
@font-face {
	font-family: 'Brushstrike';
	src: url('fonts/Brushstrike.ttf') format('truetype');
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeue.ttf') format('truetype');
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro.ttf') format('truetype');
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: 'ChunkFive';
	src: url('fonts/ChunkFive.ttf') format('truetype');
	font-style: normal; 
	font-weight: normal; 
}

body {
	background-color: #fff;
}

#promo-bar {
	background-color: #000;
	position: relative;
	color: #fff;
	padding: 20px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 19px;
	text-align: center;
	letter-spacing: 5px;
	overflow: hidden;
	line-height: 25px;
}

.promo-text {
	padding: 0px 60px;
	display: flex;
	justify-content: center;
	letter-spacing: 4.4px;
    margin-left: 2px;
}

#close-button {
	position: absolute;
	transform: rotate(45deg);
	top: 20px;
	right: 15px;
	color: #fff;
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	cursor: pointer;
}

#slider {
	width: 100%;
	height: 890px;
	position: relative;
}

.main-slide-photos{
	background: rgb(13, 108, 182);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: luminosity;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .5s;
	z-index: -1;
}

.helmet-photo::after,
.photo-block::after,
.main-slide-photos::after {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(13, 108, 182, 0.8);
}

.main-slide-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("imgs/transparentSymbol.png") no-repeat center;
	opacity: 0;
	transition: opacity 0.5s;
}

.brush-text {
	font-family: 'Brushstrike';
	font-size: 148px;
	color: #fff;
	text-decoration: none;
	margin-top: 46px;
    margin-right: -6px;
}

.bebas-text {
	font-family: 'BebasNeue';
	font-size: 60px;
	color: #fff;
	letter-spacing: 5.5px;
    display: inline-block;
    margin-right: 30px;
    margin-top: -6px;
}

.main-slide-buttons {
	font-size: 50px;
	font-family: 'Lato';
	width: 100%;
	color: #26286b;
	font-weight: 100;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: -14px;
    margin-top: 6px;
}

.main-slide-buttons #prev-button {
	margin-right: 22px;
	cursor: pointer;
	user-select: none;
}

.main-slide-buttons #next-button {
	transform: rotate(180deg);
	margin-left: 17px;
	cursor: pointer;
	user-select: none;
}

.head-menu-container {
	position: absolute;
	width: 100%;
	height: 83px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.35);
	top: 0px;
	left: 0px;
	
}

.head-menu-container .wrap {
	max-width: 1700px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main-logo {
	padding-bottom: 10px;
	margin-left: 3px;
}

.head-menu {
	margin-right: 27px;
    margin-top: 6px;
}


.head-menu a {
	display: inline-block;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 22px;
	margin-right: 25px;
	margin-left: 6px;
	text-decoration: none;
	transition: .2s;
}

.head-menu a:hover {
	color: #000;
}

.head-menu-container #basket {
	margin-left: -190px;
}



.visible {
	opacity: 1;
}

.features-container {
	width: 100%;
	height: 205px;
	box-sizing: border-box;
	background-color: #fff;
}

.features-container .wrap {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.wrap-feat {
	margin-left: 52px;
	flex-wrap: wrap;
}

.wrap-feat ul {
	margin-right: auto;
}


.features-container .feature-title,
.video-text-title,
.slide-title {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 4px;
	margin-right: 20px;
	background: linear-gradient(to right, #0e1657, #0569b1);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features-container .feature-title {
    padding: 0px 7px 10px 0px;
    margin-right: -2px;
    margin-left: 14px;
    letter-spacing: 3.6px;
}

.features-container li {
	display: inline-block;
	padding-left: 60px;
	margin-left: -5px;
}

.features-container li:first-child {
	margin-right: -7px; 
}

.features-container li:nth-child(4) {
	margin-left: 2px;
}

.features-container li:last-child {
	margin-left: -9px;
}



.advantages-container {
	width: 100%;
	height: 214px;
	background-color: #000;
	display: flex;
}

.advantages-wrap {
	max-width: 1500px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.advantages-wrap li {
	display: flex;
	margin-bottom: 2px;
}

.advantages-wrap li:last-child {
	margin-left: -15px;
    margin-right: 5px;
}

.advantages-wrap li:last-child span {
	margin-left: -3px;
    margin-right: 4px;
}

.advantages-wrap li:nth-child(2) span{
	margin-bottom: 4px;
}

.advantages-wrap li:first-child {
	margin-left: -4px;
}

.advantages-wrap li:first-child span {
	margin-left: 3px;
}

.advantages-wrap li span{
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 45px;
	letter-spacing: 5px;
	display: flex;
	align-items: center;
	
}

.advantages-wrap li img {
	margin-right: 20px;
}

.video-block-container {
	width: 100%;
	height: 798px;
	background-color: #f3f3f3;
	overflow: hidden;
}

.video-text-content {
    margin-left: 30px;
}

.video-wrap {
	display: flex;
	max-width: 1700px;
	margin: 55px auto;
	padding-left: 135px;
}

.video-text-title {
	font-size: 60px;
	margin-bottom: 20px;
	letter-spacing: 4.2px;
	margin-left: -5px;
}

.video-text-description {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 3.85px;
	color: #333;
}

.video-list {
	margin-top: 44px;
	color: #000;
	font-family: 'Open Sans';
	font-size: 18px;
}

.video-list li {
	margin-bottom: 11.8px;
}

.video-price-info {
	color: #056cb6;
    font-family: 'Open Sans';
    font-size: 34px;
    padding: 9px 18px;
    margin-top: 47px;
    border-left: 5px solid #e1e1e1;
    line-height: 38px;
}

.shop-button {
	display: inline-block;
    font-family: 'MyriadPro';
    font-size: 32.5px;
    text-decoration: none;
    color: #010101;
    padding: 36px 87px;
    border: 2px solid #056cb6;
    border-radius: 54px;
    margin-top: 45px;
    transition: .2s;
}

.shop-button:hover {
	color: #fff;
	background-color: #056cb6;
}

.label-american {
	margin-top: 50px;
	margin-left: 30px;
}

.video {
	align-self: center;
	margin-top: 13px;
    margin-left: 75px;
}



.slide-container {
	width: 100%;
	padding: 141px 0px 174px 0px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slide-title {
	font-size: 60px;
	margin-left: 20px;
}

.slide-wrap {
	height: 295px;
	width: 100%;
	display: flex;
	max-width: 1140px;
	margin: 0px auto;
	overflow: hidden;
}

.slide-wrap ul {
	display: flex;
	width: 3595px;
	margin-top: 44px;
	align-self: center;
	transition: transform 1s ease;
}

.slide-wrap ul li {
	display: flex;
	align-items: center;
}

.slide-switcher {
	display: flex;
	margin-top: 72px;
    margin-left: -4px;
}

.slide-switcher li:nth-child(2) {
	margin: 0px 15px;
}

.slide-switcher button {
	border-radius: 28px;
	background-color: #0d6cb6;
	padding: 9.5px;
	text-decoration: none;
	border: 0;
	opacity: 0.75;
	cursor: pointer;
	outline: none;
}

.slide-switcher button:hover,
.slide-switcher button.active-button {
	opacity: 1;
}

.photo-block-container {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.photo-block {
	background: rgb(13, 108, 182);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.photo-block::after {
	background-color: rgba(13, 108, 182, 0.6);
}

.photo-content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 130px 0px 151px;
}

.photo-content-wrap .title-img {
	margin-bottom: 10px;
	margin-right: 14px;
}

.photo-block-title {
	color: #fff;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 36px;
    margin-right: 12px;
    margin-bottom: 3px;
    margin-top: -2px;
    letter-spacing: 0.8px;
}

.photo-child,
.photo-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.photo-wrap img {
	padding: 10px 7.5px;
    cursor: pointer;
    transition: transform .2s;
    width: 238px;
    height: 238px;
}

.co-info ul a img:hover {
	filter: drop-shadow(0px 0px 5px black);
}

.photo-wrap img:hover {
	transform: scale(1.1, 1.1);
}

.helmets-container {
	padding: 122px 0px 146px;
	background-color: #f9fbfc;
	overflow: hidden;
}

.helmets-wrap {
	display: flex;
	justify-content: space-around;
}

.helmets {
	position: relative;
	width: 31.3%;
    padding-top: 26px;
}

.helmets:first-child {
	margin-right: 5px;
    margin-left: -5px;
}

.helmets-wrap .helmets:first-child .helmet-photo img{
	margin-top: 30px; 
	margin-bottom: -30px;
} 

.helmets-wrap .helmets:nth-child(2) .helmet-photo img{
	 margin-top: 25px; 
	 margin-bottom: -25px;
} 

.helmet-photo img {
	width: 100%;
	height: auto;
}

.helmet-top img{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 5;
}

.helmet-bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	z-index: 5;
}

.helmet-bottom h2 {
	font-family: 'ChunkFive';
	font-size: 58px;
	color: #fff;
    padding-bottom: 13px;
}

.helmets:nth-child(2) .helmet-bottom h2 {
	margin-left: 7px;
}



.helmet-bottom a {
	font-family: 'Open Sans';
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	background-color: #056ab2;
	text-decoration: none;
	padding: 15px 0px;
}

.lanes {
	position: absolute;
	top: 80px;
	right: 0px;
	z-index: 4;
}

.helmet-photo::after {
	background-color: transparent;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 20%, rgba(10, 10, 10, 0.9) 75%, rgba(0, 0, 0, 1));
}

.helmet-bottom a:hover {
	background-color: #257ad2;
}

.full-video {
	width: 100%;
	height: 1080px;
	position: relative;
	overflow: hidden;
	margin: -5px 0px 0px;
}

#direct-video {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;

}

#workout-girl::before {
	content: " ";
	background-color: #000;
	opacity: 1;
}

#workout-girl {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 55;
	opacity: 0.37;
}

.video-overlay {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 58;
}

.video-overlay span,
.video-overlay h2 {
	font-family: 'Open Sans';
	font-size: 60px;
	font-weight: 800;
	color: #fff;
	letter-spacing: 4.1px;
    margin-bottom: 22px;
    margin-right: 5px;
}

.video-overlay span {
	font-size: 20px;
	font-weight: 700;
	margin-right: 72px;
    letter-spacing: 3.9px;
}

.video-overlay button {
	border-radius: 50%;
	padding: 10px;
	text-decoration: none;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	outline: none;
	font-size: 97px;
	background-color: transparent;
	line-height: 35px;
	width: 152px;
    height: 152px;
    text-align: center;
    margin-top: 28px;
    margin-right: 34px;
	font-family: 'BebasNeue';
}

.video-overlay button:hover {
	color: #056ab2;
	border-color: #056ab2;
}

.background-helper {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 2;
}

.slide-container.second-slider {
	padding: 103px 0px 145px 0px;
}

.slide-container.second-slider .slide-title {
	margin-left: -2px;
    letter-spacing: 4.2px;
}

.slide-container.second-slider .slide-wrap {
	margin-top: 28px;
}

.slide-container.second-slider .slide-switcher {
    margin-top: 18px;
}

.foot-container {
	background-color: #0d6cb6;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.foot-wrap {
	max-width: 1132px;
	margin: 96px auto;
	font-family: 'Open Sans';
	color: #fff;
	display: flex;
	flex-direction: column;
}

.foot-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	margin-bottom: 28px;
	padding-bottom: 2px;
}

.foot-content .discount {
	display: flex;
	flex-direction: column;
}

.discount h2 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 3.8px;
	margin-bottom: 8px;
}

.discount span {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 31px;
	letter-spacing: 0.15px;
}

.discount .input-container {
	position: relative;
}

.discount input {
	background-color: transparent;
	outline: none;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 11px 10px;
	width: 275px;
	color: #fff;
}

.input-container button {
	position: absolute;
	text-decoration: none;
	outline: none;
	left: 241px;
	top: 0px;
	box-sizing: border-box;
	width: 56px;
	height: 100%;
	border: 1px solid #fff;
	background: url("imgs/paper-plane.png") no-repeat #fff;
	border-radius: 0px 3px 3px 0px;
	background-position: center;
	cursor: pointer;
}

.foot-content .about {
	margin-left: 13px;
	margin-top: 2px;
}

.about li{
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 16.6px;
}

.about li a {
	text-decoration: none;
	color: #fff;
	transition: color .2s;
}

.about li a:hover {
	color: #55aaf2;
}

.foot-content .contacts-wrap {
	display: flex;
	flex-direction: column;
	max-width: 565px;
}

.contacts-wrap h3 {
	font-size: 14px;
	font-weight: 700;
}

.contacts-wrap p {
	font-size: 13px;
	font-weight: 400;
	font-size: 12.75px;
}

.contact-title {
	margin-bottom: 30px;
}

.contact-title p {
	line-height: 20px;
	display: block;
    margin-left: 2px;
}

.contacts-wrap h3 {
	margin-bottom: 12px;
	letter-spacing: -0.1px;
}

.contacts {
	display: flex;
	justify-content: space-around;
}

.contacts>div {
	margin-left: -20px;
}

.contacts p {
	font-size: 12.6px;
}

.contacts a {
	text-decoration: none;
	color: #fff;
}

.co-info {
	display: flex;
	justify-content: space-between;
}

.co-info p {
	font-size: 12.9px;
	font-weight: 400;
}

.co-info ul {
	display: flex;
	margin-right: 4px;
}

.co-info ul li {
	margin-left: 19px;
}

.co-info ul li:first-child {
	margin-right: 5px;
}


@media(max-width: 1772px) {
	.video-block-container {
		height: 100%;
	}

	.video iframe{
		margin-right: 10px;
		width: 640px;
		height: 320px;
	}

	.features-container .wrap {
		flex-direction: column;
		justify-content: space-around;
	}

	.helmets-wrap .helmets:first-child .helmet-photo img{
	margin-top: 0px; 
	margin-bottom: 0px;
} 

	.helmets-wrap .helmets:nth-child(2) .helmet-photo img{
		 margin-top: 0px; 
		 margin-bottom: 0px;
	} 

	.lanes {
		top: 70px;
	}
}

@media (max-width: 1500px) {
	.head-menu-container #basket {
		margin-left: 0px;
	}

	.head-menu-container .wrap {
	padding: 0px 10px;
	}

	.wrap-feat ul li:first-child {
		margin-right: 0px;
	}
	
	.features-container li:last-child,
	.wrap-feat ul li:nth-child(4) {
		margin-left: 0px;
	}

	.features-container .feature-title {
		padding: 0px;
    	margin-right: 0px;
    	margin-left: 10px;
	}

	.advantages-wrap li:last-child {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.wrap-feat ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}


@media(max-width: 1312px) {
	.head-menu a:nth-child(3) {
		margin-left: 0px;
	}

	.head-menu {
		margin-right: 0px;
	}

	.head-menu a {
		margin-left: 0px;
	}

	.features-container {
		height: 100%;
	}

	.features-container li {
		display: block;
		margin-top: 30px;
		margin-left: 0px;
	}

	.features-container .wrap {
		align-items: center;
		margin-left: 10px;
	}

	.advantages-wrap {
		flex-direction: column;
		padding: 0px;
		align-items: center;
		margin-left: 10px;
		margin-bottom: 20px;
	}

	.advantages-wrap li {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.advantages-container {
		height: 100%;
	}

	.video-wrap {
		flex-direction: column;
	}

	.video {
		align-self: flex-start;
		margin-top: 40px;
		margin-left: 0px;
	}

	.video-wrap {
		padding-left: 10px;
	}

	.helmet-bottom h2{
		font-size: 40px;
	}

	.video-overlay h2 {
		font-size: 30px;
	}

	.video-overlay span {
			font-size: 14px;
	}
	
	.co-info,
	.foot-content {
		padding: 0px 10px;
	}

	.lanes {
		top: 30px;
	}
}

@media (max-width: 1220px) {
	.head-menu-container .wrap {
	flex-direction: column;
	}

	.head-menu-container {
		height: 150px;
	}

	.main-slide-buttons {
		justify-content: center;
	}

	.slide-container.second-slider .slide-title {
		margin-left: 10px;
	}
}


@media (max-width: 720px) {
	.brush-text {
		font-size: 70px;
	}

	.bebas-text {
		font-size: 30px;
	}

	.main-slide-content {
		padding: 0px 20px;
		box-sizing: border-box;
	}
}



@media (max-width: 630px) {
	.head-menu a {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.head-menu-container {
		height: 250px;
	}

	#main-logo {
		width: 237px;
		height: 27px;
	}

	.head-menu-container .wrap {
		align-items: flex-start;
	}

	.video-text-content {
		margin-left: 10px;
	}

	.advantages-wrap li:last-child,
	.advantages-wrap li:first-child,
	.advantages-wrap li {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 10px;
	}

	.advantages-wrap {
		align-items: flex-start;
	}



	.advantages-wrap li span {
		font-size: 30px;
		margin-top: 10px;
		padding: 0px;
	}

	.shop-button {
		padding: 30px 40px;
		margin-left: 30px;
	}

	.video iframe {
		width: 100%;
	}

	.video {
		align-self: center;
	}

	.video-text-title {
		font-size: 50px;
	}

	.slide-title {
		margin-left: 10px;
		font-size: 50px;
	}

	.slide-container {
	    padding: 101px 0px 104px 0px;
	}

	.helmets-wrap {
		flex-direction: column;
		align-items: center;
	}

	.helmets {
		width: 90%;
		margin-bottom: 40px;
	}

	.video-overlay h2 {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.video-overlay span {
		font-size: 10px;
		margin-bottom: 10px;
	}

	.video-overlay button {
		margin-top: 10px;
		width: 100px;
		height: 100px;
	}

	.foot-content {
		flex-direction: column;
	}

	.foot-content>div {
		margin: 40px 0px;
	}

	.contacts {
		flex-direction: column;
	}

	.contacts h3 {
		margin-top: 30px;
	}

	.contacts>div {
		margin-left: 0px;
	}

	.features-container li {
		padding-left: 10px;
	}
}



.slider-for-mobile {
	animation: slide-moving 25s infinite linear;
}

@keyframes slide-moving {
	0% { transform: translateX(0px); }
	90% { transform: translateX(-3240px); }
	100% { transform: translateX(0px); }
}